<% postfix = votable.vote_applicable?(visitor_slug) ? '' : ' disabled' %>
<div
  class="vote-block voted-<%= votable.voted(visitor_slug) %>"
  data-id="<%= votable.id %>"
  data-type="<%= votable.class.to_s %>"
>
  <button class="vote upvote"<%= postfix %>></button>
  <div class="result"><%= votable.vote_result %></div>
  <button class="vote downvote"<%= postfix %>></button>
</div>
